terraform {
  required_version = ">= 1.9.5"
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "= 5.65.0"
    }
  }
  backend "s3" {
    bucket = "<YOUR_BUCKET_NAME>"
    key    = "cflog2otel/terraform.tfstate"
    region = "ap-northeast-1"
  }
}

provider "aws" {
  region = "ap-northeast-1"
}

locals {
  mackerel_apikey_source = "where <YOUR_MACKEREL_APIKEY> come from "
  mackerel_apikey = "<YOUR_MACKEREL_APIKEY>"
  s3_bucket_name = "<YOUR_BUCKET_NAME>"
}
